@import "./PostContent.scss";

.post {
  &__header {
    padding: 3rem;
    background-color: #fff;
    margin-bottom: 5rem;
    border-radius: .5rem;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  &__tags {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-top: 1rem;
  }
}
