@import "./PostContent.scss";

.post {
  &__header {
    padding: 3rem;
    background-color: #fff;
    margin-bottom: 5rem;
    border-radius: .5rem;
  }
  &__title {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
}
