.sidebar {
  width: 30rem;
  flex-shrink: 0;
  @media screen and(max-width: $tablet) {
    width: 100%;
  }

  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: inherit;
    padding: 2rem 0;
    @media screen and(max-width: $tablet) {
      width: 100%;
      padding: 2rem 0;
      height: auto;
      position: static;
    }
  }
  &__contacts {
    display: block;
    margin-top: auto;
    padding: 0 1rem;
  }
}
