.nav {
  margin-top: 10rem;
  &__list {

  }
  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    color: $white;
    font-size: 2.2rem;
    transition: color linear 0.3s;
    &:hover {
      color: $orange;
    }
  }
}
