.contacts {
  display: flex;
  align-items: center;
  &__link {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__logo {
    opacity: 0.85;
    transition: opacity linear .3s;
    &:hover {
      opacity: 1;
    }
    &-telegram {
      width: 2.4rem;
    }
  }
}
